<!DOCTYPE html>
<html>
<head>

    <title>Chattalyze</title>

</head>
<body>

  <div class="ui fixed transparent inverted main menu">
    <div class="container">


      <div class="section ui dropdown link item">
        <div class="menu">

            <div class="item">
              <a href="/collections/breadcrumb.html">1. Breadcrumb</a>
            </div>

        </div>
      </div>

      <div class="right menu">
        <div class="vertically fitted borderless item">
          <iframe src="http://ghbtns.com/github-btn.html?user=semantic-org&repo=semantic-ui&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        </div>

<!--         <a class="popup overview icon item" data-content="Toggle Definition">
          <i class="book icon"></i>
        </a> -->
        <a class="popup designer icon item" data-content="Designer Mode">
          <i class="basic paint icon"></i>
        </a>
        <a class="popup developer icon item" data-content="Developer Mode">
          <i class="terminal icon"></i>
        </a>

        <a class="popup icon github item" data-content="View project on Github" href="https://github.com/quirkyinc/semantic">
          <i class="icon github"></i>
        </a>
        <!--
        <div class="ui simple dropdown item">
          <i class="icon tint"></i> Theme
          <div class="theme menu">
            <div class="active item" data-theme="flat">Flat</div>
            <div class="item" data-theme="shaded">Shaded</div>
            <div class="item" data-theme="classic">Classic</div>
          </div>
        </div>
        !-->
      </div>
    </div>
  </div>


</br></br></br>
  <div class="ui four column grid">
    <div class="column">
    </div>
    <div class="column" style="width: 250px">
    <div class="uk-panel" style="width: 220px; height: 2000px;">
        <button class="uk-button uk-button-primary" data-uk-toggle="{target:'#all-friends'}" style="width: 210px">All Friends</button>
            <div class="ui vertical menu" id="all-friends">
            {% for x in range(0, friends.__len__() - 1) %}
              <a id="{{ friends[x][0] }}" class="item chatter" > {{ friends[x][1] }} <div class="ui label red">51</div>
              </a>
            {% endfor %}
            </div>
        </br>
        <button class="uk-button uk-button-primary" data-uk-toggle="{target:'#online-friends'}" style="width: 210px">Online Friends</button>
            <div id="online-friends" class="{{ token }}">
            <div class="ui list">
              <div class="item">
                <div class="header">New York City</div>
                A lovely city
              </div>

            </div>
        </div>
    </div>
  </div>

    <div id="canvas" class="column uk-animation-fade" style="width: 600px; height: 1000px">
        <div id="history"  class="ui large message" style="height: 600px">No Chatting History...</div>

        <div class="ui fluid action input">
          <input id="input" type="text" placeholder="Chat...">
          <div id="send_msg" class="ui button" >Send</div>
        </div>

    </div>
    <div class="column">
    </div>
  </div>

    <link href="/static/semantic/css/semantic.css" rel="stylesheet">
    <link href="/static/UIkit/css/uikit.min.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/semantic/javascript/semantic.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/UIkit/js/uikit.min.js"></script>

</body>
</html>